div(class="header")
    a(class="logo") Projects
    ul(class="header-menu")
        li 
            a All
                span(class="badge") 1
        li 
            a Current
        li 
            a Finished
        li 
            a On Hold
        li 
            a Archive
    ul(class="profile")
        li(class="current-theme")
            a(href="#")
                i(class="xi-moon")
        li(class="nickname") Timothee*
        li(class="profile-image")
            img(src=`/images/profile/profile2.jpg`, alt="")