div(class="sidebar")
    a(class="active", href="#") 
        i(class="xi-layout-snb")
        span(class="sidebar-menu") Home
    a(href="#") 
        i(class="xi-apps")
        span(class="sidebar-menu") About
    a(href="#") 
        i(class="xi-info")
        span(class="sidebar-menu") Contact
    a(href="#") 
        i(class="xi-chart-pie")
        span(class="sidebar-menu") eljlfel