@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css";
@import "_reset.scss";
@import "_variables.scss";
@import "_flexgrid.scss";

html {
    font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 50px 1fr;
  @media only screen and (min-width: $bp-lg) {
      grid-template-columns: 150px 1fr;
  }
}

// .sidebar:hover {
//     // grid-template-columns: 150px 1fr;
//     background-color: lightsalmon;
// }

.badge {
    padding: 3px 8px;
    background-color: #000;
    color: #fff;
    border-radius: 12px;
    font-size: .6rem;
    margin-left: 3px;
}

.sidebar {
  margin-top: 100px;
  background-color: white;
  width: 150px;
  a {
    display: block;
    color: $gray;
    padding: 18px;
    text-decoration: none;
    &.active {
      background-color: $background;
      color: #000000;
    }
    &:hover:not(.active) {
      background-color: #555;
      color: white;
    }
    .sidebar-menu {
        margin-left: 16px;
    }
  }
  
}

.content {
  background-color: $background;
  .content-wrapper {
    display: grid;
    grid-template-rows: 50px auto;
      margin: 40px;
    .header {
      display: flex;
      justify-content: space-between;
      padding: 0 8px;
      .logo {
        font-size: 30px;
        font-weight: bold;
      }
      .header-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            padding: 0 20px;
          a {
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover {
              border-bottom: 2px solid black;
            }
          }
        }
      }
      .profile {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .current-theme {
          padding: 6px;
          background-color: white;
          a {
            color: $gray;
          }
        }
        .nickname {
          font-size: 16px;
          font-weight: bold;
          margin: 0 10px;
        }
        .profile-image {
            img {
                width: 30px;
                height: 30px;
                border-radius: 5px;
          }
        }
      }
    }
    .main {
      display: grid;
      grid-template-rows: 40px auto 240px;
      margin: 30px 0;
      .main-header {
        display: flex;
        justify-content: space-between;
        padding: 0 8px;
        .search-bar {
          width: 240px;
          background-color: #fff;
          border-radius: 10px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          &::placeholder {
            color: lightgray;
          }
          .input-icon {
            position: absolute;
          font-size: 1.2rem;
          padding: 10px;
          }
          .search-bar-input {
              width: 180px;
            padding: 10px;
            margin-left: 36px;
            text-align: center;
            border: none;
            border-radius: 10px;
          font-size: .8rem;
          text-align: start;
          }
        }
        .main-menu {
            display: flex;
            justify-content: flex-end;
          .sort-dropdown {
            padding: 8px 16px;
            width: 160px;
            position: relative;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            label {
                color: $gray;
            }
            .dropdown-content {
                display: none;
                position: absolute;
                top: 46px;
                left: -10px;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                padding: 12px 16px;
                z-index: 1;
                cursor: pointer;
                &:hover {
                    background: $gray;
                }
            }
            &.drop .dropdown-content {
                display: block;
            }
          }
          .detail-sort {
              padding: 10px;
              background: #fff;
              border-radius: 6px;
              margin-left: 16px;
              transition: all .3s;
              &:hover {
                  background: #000;
                  color: #fff;
              }
          }
          .visible-type {
            background-color: #fff;
            border-radius: 6px;
            margin-left: 16px;
            display: flex;
            align-items: center;
            a {
                padding: 10px;
                &:first-child {
                    border-top-left-radius: 6px;
                    border-bottom-left-radius: 6px;
                }
                &:last-child{
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                }
                &:hover {
                    background: #000;
                    color: #fff;
                }
            }
          }
        }
      }
      .project-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 12px;
        // align-content: flex-start;

        // display: grid;
        // grid-template-columns: 25% 25% 25% 25%;
        // grid-template-rows: 300px 300px;
        // @media screen and (max-width: $bp-tablet) {
        //     grid-template-columns: 33% 33% 33%;
        // }
        // @media screen and (max-width: $bp-phone) {
        //     grid-template-columns: 50%;
        // }
        
        .project {
            position: relative;
            box-sizing: border-box;
            margin: 20px 0;
            .project-wrapper {
              background-color: white;
              border-radius: 10px;
              box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0 6px 6px rgba(0, 0, 0, 0.23);
              transition: 0.3s all;
              padding: 20px;
              &.active,
              &:hover {
                background-color: #000000;
                color: #ffffff;
                transform: translateY(-10px);
                .project-header {
                    .project-logo {
                        border: none;
                    }
                }
              }
              .project-header {
                  display: flex;
                  justify-content: space-between;
                  align-items: flex-start;
                .project-logo {
                    width: 50px;
                    height: 50px;
                    background-color: #ffffff;
                    border: 1px solid $gray;
                    border-radius: 10px;
                    // box-sizing: border-box;
                    & > img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                .ellipsis-wrapper {
                    color: $gray;
                    font-size: 1.4rem;
                }
            }
              .project-title {
                margin: 16px 0;
                font-size: 24px;
                font-weight: bold;
              }
              .project-verbose {
                list-style: disc;
                color: #555;
                margin-left: 18px;
                min-height: 80px;
                .project-verbose-item {
                    font-size: .8rem;
                    margin: 6px 0;
                }
              }
              .progress-degree {
                width: 100%;
                height: 4px;
                border: none;
                background-color: $gray;
                position: relative;
                border-radius: 8px;
                .progress-degree-value {
                    background-color: #555;
                    position: absolute;
                    border-radius: 3px;
                    height: 100%;
                }
                .progress-degree-percent {
                    position: absolute;
                    top: -20px;
                    left: 80%;
                    transform: translateX(-50%);
                    color: $gray;
                    font-size: .8rem;
                    font-weight: 600;
                }
              }
              .project-footer {
                  margin-top: 24px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .updated-date {
                      font-size: .8rem;
                      color: $gray;
                  }
                  .project-contributors {
                      display: flex;
                      justify-content: flex-end;
                      .contributor-profile {
                          margin-left: 6px;
                          img {
                              width: 32px;
                              height: 32px;
                              border-radius: 6px;
                          }
                      }
                  }
              }
          }
        }
      }
    }
  }
}
